@import "./../variables/variables";

// forum OVERVIEW-CARDS
.card-columns
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.forum-cat-title {
  font-size: 23px;
  font-family: $chivofamily;
  font-weight: 400;
  color: black;
  letter-spacing: 1px;
}

.forum-cat-row {
  margin-bottom: 35px;
}

.forum-upvote-count{
  margin-top: 9px!important;
}

a {
  color: $purple;
}

a:hover{
 text-decoration: none;
 color: inherit;
}

.container-forum{
  width: 40%;
}
@media only screen and (max-width: 800px) {
  .container-forum{
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 100%;
  }
  .container-forum > *{
    width: 100%;
}
}