@import "./../variables/variables";
.row-topic{
    width: 100%;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 2px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $purple;
    left: -7px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.subject{
    width: 100%;
}
.topic-questions {
  background-color: $purple;
  font-family: $chivofamily;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.question-row {
  padding-bottom: 10px;
}

.postbutton form .form-group button{
  background: red;
}

#question_questionDescription {
  height: 120px;
}

h1{
  text-align:center;
  margin-bottom:50px;
  margin-top:50px;
}
a {
  font-family: Roboto;
 }
.blog-card-blog {
    margin-top: 30px;
}
.blog-card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.blog-card .blog-card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.blog-card .blog-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}
.blog-card .blog-table {
    padding: 15px 30px;
}
.blog-table {
    margin-bottom: 0px;
}
.blog-category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}
.blog-text-success {
    color: $purple;
}
.blog-card-blog .blog-card-caption {
    margin-top: 5px;
}
.blog-card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.blog-card-caption, .blog-card-caption a {
    color: #333;
    text-decoration: none;
}

p {
    color: #3C4857;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.blog-card .ftr {
    margin-top: 15px;
}
.blog-card .ftr .author {
    color: #888;
}

.blog-card .ftr div {
    display: inline-block;
}
.blog-card .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.blog-card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
}
.blog-card .ftr .stats {
    float: right;
    line-height: 30px;
}


/* custom  */

.form-topic { max-width:420px; margin:50px auto; }
.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid $purple;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid $purple; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  .btn-topic {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:$purple;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  .btn-topic:hover { background:$purple; }

/* custom form animate  */

$input-height: 75px;




.registration-form {
  display: none;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  
  background: transparent;
  
  header {
    position: relative;
    z-index: 4;
    background: white;
    padding: 20px 40px;
    border-radius: 15px 15px 0 0;
    
    h1 {
      font-weight: 900;
      letter-spacing: 1.5px;
      color: #333;
      font-size: 23px;
      text-transform: uppercase;
      margin: 0;
    }
    
    p {
      word-spacing: 0px;
      color: rgb(159, 172, 182); 
      font-size: 17px;
      margin: 0;
      margin-top: 5px;
    }
  }
  
  form {
    position: relative;
  }
  
  .input-section {
    width: 100%;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    height: $input-height;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in;
    
    &.folded {
      width: 95%;
      margin-top: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;
      
      input {
        background-color: rgb(233, 226, 192);
      }
      
      span {
        background-color: rgb(233, 226, 192);
      }
    }
    
    &.folded + .folded {
      width: 90%;
      margin-top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 0;
      
      input {
        background-color: rgb(225, 188, 239);
      }
      
      span {
        background-color: rgb(225, 188, 239);
      }
    }
    
    &.fold-up {
      margin-top: -$input-height;
    }
  }
  
  form input {
    background: lighten(rgb(243, 243, 251), 5%);
    color: rgb(143, 143, 214);
    width: 80%;
    border: 0;
    padding: 20px 40px;
    margin: 0;
    
    &:focus {
      outline: none;
    }
    
    &::placeholder {
      color: rgb(143, 143, 214);
      font-weight: 100;
    }
  }
}

.animated-button {
  width: 20%;
  background-color: rgb(212, 212, 255);
  
  span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: $input-height;
    text-align: center;
    height: $input-height;
    transition: all 0.2s ease-in;
    
    i {
      font-size: 25px;
      color: rgb(153, 153, 248);
    }
  }
  
  .next-button {
    background: transparent;
    color: rgb(153, 153, 248);
    font-weight: 100;
    width: 100%;
    border: 0;
  }
}

.next {
  margin-top: -$input-height;
}

.success {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  height: $input-height;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in;
  background: $purple;
  margin-top: -$input-height;
  
  .p-form {
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-bottom: inherit !important;
  }
}