{% extends 'pass.html.twig' %}

{% block title %}{{ 'Reset password' | trans }}!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ 'Changer votre mot de passe' | trans }}</h1>
    <p>
        {{ "Entrez votre email et vous receverez un lien pour changer votre mot de passe" | trans }}
    </p>

    <form action="" method="post">
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="exemple@.." required autofocus>
        <button class="button button_2 margintop" type="submit" name="reset-request-submit">
            {{ 'Envoyer' | trans }}
        </button>
    </form>
</div>
{% endblock %}
