{% extends 'home.html.twig' %}

{% block title %}E-learnia{% endblock %}

{% block body %}
    <div class="sidebar">
        {# add Logo #}
            <img class="logo" src="{{ asset('assets/img/E-learnia.png') }}" alt="logo">

        <div class="loginwrap">
            <a href="{{ path('app_login') }}"><button class="button button_1">{{ 'Connexion' | trans }}</button></a><br><br>
        </div>
    </div>
{% endblock %}
