.deco{
    display: none;
}
.NL{
    letter-spacing: inherit !important;
}
.MB1{
    margin-bottom: 1em;
}
@media screen and (max-width: 750px) {
    .ck-content{
        margin: 1em !important;
        padding: inherit !important;
    }
    .card {
        -webkit-box-shadow: inherit !important;
        box-shadow: inherit !important;
        border: none;
        border-radius: inherit !important;
    }
    .example-wrapper{
        padding: inherit !important;
    }
    .row{
        margin-left: inherit !important;
        margin-right: inherit !important;
    }
}