{% block body %}

<p>
    Bonjour, nous avons remarquer que lors des trois premiers jours vous avez réaliser {{ co.hour }} heures {{ co.timeOfCo % 60}} min. de connexion. <br> Avez-vous rencontré un problème ? Si oui, faites nous part de vos difficultés en répondant à ce mail. 
</p>

{% endblock %}
