{% block body %}
<h1>Bonjour {{contact.name}} </h1>
<p> Votre formation commence dès aujourd'huit, voici vos accès à notre plateforme </p>
<p> Parcours de formation : {{ contact.formation }} </p>
<p> identifiant : {{ contact.mail }} </p>
<p> mot de passe : {{ contact.mdp }} </p>
<a href="http://ifpro-france.fr/">Accèder à notre plateforme</a>
{% endblock %}